<input type="text" ng-model="restaurantDetailMenu.newGroup.menuGroupTitle">
<button ng-click="restaurantDetailMenu.addMenuGroup()">Add Menu Group</button>
<div ng-repeat="menuGroup in restaurantDetailMenu.menu">
    <h1 class="header">{{menuGroup.menuGroupTitle}}</h1>
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in menuGroup.menuItems">
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.price}}</td>
                <td>
                    <button ng-click="restaurantDetailMenu.deleteMenuItem(item)">Delete</button>
                </td>
            </tr>
            <tr>
                <td><input type="text" ng-model="menuGroup.newMenuItem.name"></td>
                <td><input type="text" ng-model="menuGroup.newMenuItem.description"></td>
                <td><input type="text" ng-model="menuGroup.newMenuItem.price"></td>
                <td>
                    <button ng-click="restaurantDetailMenu.addMenuItem(menuGroup.newMenuItem, menuGroup.menuGroupId)">Add</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>