/****************************************************
				Body Default
****************************************************/
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

/****************************************************
				NavBar Default
****************************************************/
.nav{
	background-color: rgba(90, 111, 93, .8);
	margin-bottom: 15px;
}

#navName {
	color: #fff;
	font-size: 2.6em;
	font-family: lobster;
}

.nav a {
	font-size: 1.4em;
	color: #fff;
}


/****************************************************
				Footer Default
****************************************************/
.footer {
	height: 50px;
	background-color: rgba(255, 255, 255, .6);
	z-index: 1;
}

.footer p {
	color: #000;
}

/****************************************************
				Input Field Default
****************************************************/
.input:active, .textarea:active, .input:focus, .textarea:focus, .input.is-active, .is-active.textarea {
 	border-color: #6a3b3b;
 	outline: none;
}


/****************************************************
					Login Page
****************************************************/
.loginBox {
  margin-top: 280px;
  background-color: rgba(255, 255, 255, .7);
  size: relative;
  box-shadow: 0px 5px 10px #5a6f5d;
}

#loginBackground {
	background-image: url('../img/restaurant.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.login-button {
	background-color: #5a6f5d;
	color: #fff;
}

.login-button-icon {
	padding-left: 3px;
}

/****************************************************
					Customers List Page
****************************************************/
#customer-list-body{
	background-color: #f1f5f0;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

#customers-table{
	width: 98%;
	margin-left: 1%;
	margin-top: 20px;
}

#customers-table th{
	font-size: 1.4em;
	padding-bottom: 15px;
}

#customers-table td{
	font-size: 1.2em;
	padding-top: 5px;
	border-bottom: 1px solid #294949;
}

.list-panel {
	margin-top: 10%;
	background-color: #fff;
}

.list-panel .panel-heading {
	background-color: #294949;
	color: #fff;
}

.list-panel .panel-heading p {
	font-weight: bold;
	font-size: 1.2em;
}