<!-- Customer Detail State -->
<div class="columns">
	<!-- Customer's Detail -->
	<div class="column is-half">
		<div class="box">
			<label>Name</label>
			<p>{{customerDetail.customer.firstName}} {{customerDetail.customer.lastName</p>
			<label>Address</label>
			<p>{{customerDetail.customer.address}}</p>
			<label>ZipCode</label>
			<p>{{customerDetail.customer.zipCode}}</p>
			<label>Telephone</label>
			<p>{{customerDetail.customer.telephone}}</p>
			<label>Email</label>
			<p>{{customerDetail.customer.email}}</p>
			<button class="button is-danger"
					ng-click="customerDetail.deleteCustomer()">
				Delete
			</button>
		</div>
	</div>

	<div class="column is-half">
		<div class="box">
			<!-- Tabs -->
			<div class="tabs is-boxed">
				<ul>
					<li class="is-active">
						<a ng-click="customerDetail.reviewMode = true">Reviews</a>
					</li>
					<li class="is-active">
						<a ng-click="customerDetail.reviewMode = false">Orders</a>
					</li>
				</ul>
			</div>
			<!-- Reviews -->
			<div ng-show="customerDetail.reviewMode">
				<label>Rating:</label>
				<p></p>
				<label>Review:</label>
				<p></p>
			</div>

			<!-- Orders -->
			<div ng-hide="customerDetail.reviewMode">
				<label>Order History</label>
				<ul>
					<li></li>
				</ul>
			</div>
		</div>
	</div>
</div>