<!-- Customer Detail State -->
<div class="container">
    <div class="columns">
        <div class="column is-half">
            <div class="box">
                <div class="panel customer-detail-panel">
                    <div class="panel-heading">
                        <p>Customer Details</p>
                    </div>
                        <!-- Customer's Detail -->
                            <div class="panel-block">
                                <div class="columns">
                                    <div class="column is-5">
                                        <strong class="is-pulled-right">Name</strong>
                                    </div>
                                    <div class="column is-1"></div>
                                    <div class="column">
                                        <p>{{customerDetail.customer.firstName}} {{customerDetail.customer.lastName}}</p>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column is-5">
                                        <strong class="is-pulled-right">Address</strong>
                                    </div>
                                    <div class="column is-1"></div>
                                    <div class="column">
                                        <p>{{customerDetail.customer.address}}</p>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column is-5">
                                        <strong class="is-pulled-right">ZipCode</strong>
                                    </div>
                                    <div class="column is-1"></div>
                                    <div class="column">
                                        <p>{{customerDetail.customer.zipCode}}</p>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column is-5">
                                        <strong class="is-pulled-right">Telephone</strong>
                                    </div>
                                    <div class="column is-1"></div>
                                    <div class="column">
                                        <p>{{customerDetail.customer.telephone}}</p>
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column is-5">
                                        <strong class="is-pulled-right">Email</strong>
                                    </div>
                                    <div class="column is-1"></div>
                                    <div class="column">
                                        <p>{{customerDetail.customer.email}}</p>
                                    </div>
                                </div>
                                	<div id="delete-user">
                                        <button class="button is-danger" ng-click="customerDetail.deleteCustomer(customerDetail.customer.customerId)">Delete
                                        </button>
                                    </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="box">
        <div class="column is-half">
            <!-- Tabs -->
            <div class="tabs is-boxed">
                <ul>
                    <li class="is-active">
                        <a ng-click="customerDetail.reviewMode = true">Reviews</a>
                    </li>
                    <li class="is-active">
                        <a ng-click="customerDetail.reviewMode = false">Orders</a>
                    </li>
                </ul>
            </div>
            <!-- Reviews -->
            <div ng-show="customerDetail.reviewMode">
                <ul>
                    <li ng-repeat="review in customerDetail.customer.review">
                        <label>Rating:</label>
                        <p>{{review.rating}}</p>
                        <label>Review:</label>
                        <p>{{review.description}}</p>
                    </li>
                </ul>
            </div>
            <!-- Orders History -->
            <div ng-hide="customerDetail.reviewMode">
                <table class="table is-striped">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Order</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="order in customerDetail.customer.order">
                            <td>{{order.timeStamp}}</td>
                            <td>{{order.orderItem.menuItem.name}}</td>
                            <td>{{order.orderItem.menuItem.price}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
