<div id="restaurantDetailBody">
    <div class="container">
        <div class="box">
            <div class="panel restaurant-detail-panel">
                <div class="panel-heading">
                   <p>Restaurant Details: </p> 
                </div>
                <div class="panel-body" id="restaurantPanelBody">
                    <div class="columns" id="restaurantDetailTopColumns">
                        <div class="column is-half">
                            <label class="label">Restaurant Name:</label>
                            <p class="control">
                                <input class="input" type="text" placeholder="Text input" ng-model="restaurantDetail.restaurants.name">
                            </p>
                        </div>
                        <div class="column">
                            <label class="label">Address:</label>
                            <p class="control">
                                <input class="input" type="text" placeholder="Text input" ng-model="restaurantDetail.restaurants.address">
                            </p>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-half">
                            <label class="label">Zip Code:</label>
                            <p class="control">
                                <input class="input" type="text" placeholder="Text input" ng-model="restaurantDetail.restaurants.zipCode">
                            </p>
                        </div>
                        <div class="column">
                            <label class="label">Telephone:</label>
                            <p class="control">
                                <input class="input" type="text" placeholder="Text input" ng-model="restaurantDetail.restaurants.telephone">
                            </p>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-half">
                            <label class="label">Email Address:</label>
                            <p class="control">
                                <input class="input" type="text" placeholder="Text input" ng-model="restaurantDetail.restaurants.email">
                            </p>
                        </div>
                        <div class="column">
                            <label class="label">Website Url:</label>
                            <p class="control">
                                <input class="input" type="text" placeholder="Text input" ng-model="restaurantDetail.restaurants.webSite">
                            </p>
                        </div>
                    </div>
                    <div>
                        <label class="label">Description:</label>
                            <textarea id="restaurantDetailDescription" type="form" ng-model="restaurantDetail.restaurants.description"></textarea>
                    </div>
                    <div id="restaurantDetailSaveBtn">
                        <button ng-click="restaurantDetail.save(restaurants, restaurantId)" class="button is-medium restaurant-save-details">Save <i class="icons fa fa-check"></i></button>
                    </div>
                    <div id="delete-restaurant">
                        <button class="button is-danger" ng-click="restaurantDetail.deleteRestaurant(restaurantDetail.restaurants.restaurantId)">Delete
                        </button>
                    </div>

                <!-- NEEDS TO BE ADDRESSED AS A GROUP -->
                <!-- <div class="columns">
                    <div class="column is-half">
                        <label class="label">Category:</label>
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select type="text" 
                                        ng-model="restaurantDetail.restaurants.categoryId"
                                        ng-options="category.categoryId as category.categoryTitle for category in restaurantDetail.categories"
                                        >
                                        <option value="">Add New Category...</option>
                                        <option value="new">Add new category</option>
                                        <option ng-repeat="category in restaurantDetail.categories"
                                            ng-value="{{category.categoryId}}"
                                            >{{category.categoryTitle}}</option>
                                </select>
                            </div>
                            <div ng-show="restaurantDetail.restaurants.categoryId == null">
                                <input class="input" type="text" ng-model="restaurantDetail.newCategory.categoryTitle" placeholder="Category name...">
                                <button ng-click="restaurantDetail.addCategory()">Add Category</button>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Use CSS to pad, rather than <br>  -->
    <br>
    <div class="container" ng-show="restaurantDetail.restaurants.restaurantId">
        <div class="box">
            <div class="restaurant-detail-panel2">
                <div>    
                    <div class="tabs is-boxed">
                        <ul>
                            <li ui-sref-active="is-active" ui-sref="restaurants.detail.tabs.menu({restaurantId: restaurantDetail.restaurantId})"><a class="tab-links">Menu:</a></li>
                            <li ui-sref-active="is-active" ui-sref="restaurants.detail.tabs.orders({restaurantId: restaurantDetail.restaurantId})"><a class="tab-links">Orders:</a></li>
                            <li ui-sref-active="is-active" ui-sref="restaurants.detail.tabs.reviews({restaurantId: restaurantDetail.restaurantId})"><a class="tab-links">Reviews:</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-block">
                    <div ui-view>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>